<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品评论后台管理</title>
    <meta name="description" content="商品评论后台管理">
    <meta name="keywords" content="商品评论后台管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../static/plugins/elementui/index.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>数据管理<small>图片检测</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>数据管理</el-breadcrumb-item>
            <el-breadcrumb-item>图片检测</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">

                <el-button type="primary" class="butT" @click="handleCreate()">预测</el-button>
            </div>

            <div class="pagination-container">

            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="预测数据" :visible.sync="dialogFormVisible">

                    <el-form ref="dataAddForm" :model="formData" label-position="right"
                             label-width="100px">

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="一级分类	">
                                    <el-select v-model="value" placeholder="请先上传图片">
                                        <el-option
                                                v-for="item in categoryList"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>

                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="输出结果">
                                    <el-input v-model="formData.cholesterol"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="识别结果图片">
                                    <img style="width:500px; height: 500px" :src="formData.url"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-upload
                                v-model="filelist"
                                action="http://127.0.0.1:5000/upload"
                                :auto-upload="true"
                                list-type="picture-card"
                                :on-success="uploadSuccess"
                                :on-preview="handlePictureCardPreview"
                                :on-remove="handleRemove"
                        >
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog v-model="dialogVisible">
                            <img width="100%" :src="dialogImageUrl" alt=""/>
                        </el-dialog>
                        <el-button type="primary" @click="detect()">开始检测</el-button>

                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取消</el-button>

                        </div>
                    </el-form>
                </el-dialog>

            </div>


        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../static/js/vue.js"></script>
<script src="../static/plugins/elementui/index.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            categoryList: [],
            value: '',

            filelist: [],
            dialogImageUrl: "",
            dialogVisible: false,
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            queryString: null,//查询条件
            dataList: [],//当前页要展示的分页列表数据
            formData: {
                category:"",
                name:"",
                url:""
            },//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            {#this.findAll();#}
            this.findPage();
        },
        methods: {
            // 预览
      handlePictureCardPreview(file) {
          alert(file.url)
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
          uploadSuccess(response, file, fileList) {
            this.formData.name = response.url;
            this.categoryList = response.category
      if (response.code != 200) {
        this.$message({
          message: '识别失败',
          type: 'warning'
        })
        this.fileList = []
      } else {

        this.$message({
          message: '上传成功',
          type: 'success'
        })
          this.$forceUpdate()
      }
    },
            uploadFile(response, file, fileList) {
              console.log(response)
              console.log(file)
              console.log(fileList)
            },
            //编辑
            handleEdit() {
                axios.post("/editRiskArea", this.formData).then((res) => {
                    if (res.data.status) {
                        this.$message({
                            type: 'success',
                            message: res.data.msg
                        })
                    } else {
                        this.$message.error(res.data.msg)
                    }
                    this.findPage();
                    this.dialogFormVisible4Edit = false;
                });
            },
            //添加
            detect() {
                                    this.formData.category = this.value;

                axios.post("/detect", this.formData).then((res) => {
                    //this.dialogFormVisible = false;
                    if (res.data.status) {

                        this.formData.name = res.url;

                        this.$message({
                            message: res.data.msg,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //分页查询
            findPage() {
                var param = {
                    currentPage:this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString,
                }

            },


            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
            },
             // 重置表单
            resetForm() {
                this.formData = {};
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                //回显数据
                axios.get("/findRiskAreaById?id=" + row.id).then((res) => {
                    if (res.data.status) {
                        this.formData = res.data.data;
                    } else {
                        //查询失败
                        this.$message.error(res.data.msg);
                    }
                });
            },
        }
    })






</script>
</html>