<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品评论后台管理</title>
    <meta name="description" content="商品评论后台管理">
    <meta name="keywords" content="商品评论后台管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../static/plugins/elementui/index.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="hold-transition">

<div id="app">
    <div class="content-header">
        <h1>数据管理<small>图片检测</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>数据管理</el-breadcrumb-item>
            <el-breadcrumb-item>图片检测</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="app-container">
        <div class="box">
            <div class="filter-container">

                <!--                <el-button type="primary" class="butT" @click="handleCreate()">预测</el-button>-->
            </div>


            <el-container>
                <el-header>
                    <el-form ref="dataAddForm" :model="formData">

                        <el-row>
                            <el-col :span="12">
                                <el-button type="primary" @click="detect()">开始标注</el-button>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="类别:">
                                    <el-select v-model="value" placeholder="请先上传图片">
                                        <el-option
                                                v-for="item in categoryList"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>

                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>


                </el-header>
                <!--                <el-container>-->
                <el-aside width="1000px" style="margin: 16px">
                    <el-upload
                            v-model="filelist"
                            action="http://127.0.0.1:5000/upload"
                            :auto-upload="true"
                            list-type="picture-card"
                            :on-success="uploadSuccess"
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove">
                        <i class="el-icon-plus"></i>
                    </el-upload>

                </el-aside>

                <el-main>
                    <div class="demo-image" style="width: 400px; height: 400px; margin-top: 8px">


                        <el-form ref="dataAddForm" :model="formData" label-position="right">

                            <el-row>
                                <el-col :span="8">
                                    <!--                                        <el-form-item label="识别结果图片">-->
                                    <img style="width: 400px; height: 400px" :src="detectImage">
                                    </img>
                                    <!--                                        </el-form-item>-->
                                </el-col>
                                <el-col :span="8">
                                    <el-card class="box-card" style="margin-left: 400px; height: 400px">


                                        <div slot="header" class="clearfix">
                                            <span>检测结果</span>
                                            <el-button style="float: right; padding: 3px 0" type="text"></el-button>
                                            <div v-for="item in detectFinalList" :key="item.id" class="text item">
                                                item.text
                                            </div>
                                        </div>


                                    </el-card>
                                </el-col>

                                <el-col :span="8">

                                </el-col>


                            </el-row>


                            <el-dialog v-model="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt=""/>
                            </el-dialog>

                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>

                            </div>
                        </el-form>
                    </div>
                </el-main>


                <!--                </el-container>-->
            </el-container>


        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../static/js/vue.js"></script>
<script src="../static/plugins/elementui/index.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    const vue = new Vue({
        el: '#app',
        data: {
            categoryList: [],
            delimiters: ['[[', ']]'],
            detectFinalList: [
                {id: 1, text: 'Item 1'},
                {id: 2, text: 'Item 2'},
                {id: 3, text: 'Item 3'}
            ],
            value: '',
            filelist: [],
            detectImage: "http://127.0.0.1:5000/download?file_name=00008-2589139406.png",
            dialogImageUrl: "",
            dialogVisible: false,
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            queryString: null,//查询条件
            dataList: [],//当前页要展示的分页列表数据
            formData: {
                category: "",
                name: "",
                url: ""
            },//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            {
                this.findAll();
            }
            this.findPage();
        },
        methods: {
            // 预览
            handlePictureCardPreview(file) {
                alert(file.url)
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            uploadSuccess(response, file, fileList) {
                this.formData.name = response.url;
                this.categoryList = response.category
                if (response.code !== 200) {
                    this.$message({
                        message: '识别失败',
                        type: 'warning'
                    })
                    this.fileList = []
                } else {
                    this.$message({
                        message: '上传成功',
                        type: 'success'
                    })
                    this.$forceUpdate()
                }
            },
            uploadFile(response, file, fileList) {
                console.log(response)
                console.log(file)
                console.log(fileList)
            },
            //编辑
            handleEdit() {
                axios.post("/editRiskArea", this.formData).then((res) => {
                    if (res.data.status) {
                        this.$message({
                            type: 'success',
                            message: res.data.msg
                        })
                    } else {
                        this.$message.error(res.data.msg)
                    }
                    this.findPage();
                    this.dialogFormVisible4Edit = false;
                });
            },
            //添加
            detect() {
                this.formData.category = this.value;

                axios.post("/detect", this.formData).then((res) => {
                    //this.dialogFormVisible = false;
                    console.log(res)

                    // if (res.status === 200) {

                    this.detectImage = res.data.url;
                    this.detectFinalList = res.data
                    console.log("dddddddddddddddddddddddddddd")
                    console.log(this.detectFinalList)
                    this.$message({
                        message: res.data.msg,
                        type: 'success'
                    });
                    // } else {
                    //     this.$message.error(res.message);
                    // }
                });
            },

            //分页查询
            findPage() {
                var param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString,
                }

            },


            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
            },
            // 重置表单
            resetForm() {
                this.formData = {};
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                //回显数据
                axios.get("/findRiskAreaById?id=" + row.id).then((res) => {
                    if (res.data.status) {
                        this.formData = res.data.data;
                    } else {
                        //查询失败
                        this.$message.error(res.data.msg);
                    }
                });
            },
        }
    });


</script>

<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 480px;
    }
</style>
</html>